.whole {
  background: white;
}

.Start {
  width: 100%;
}
.Container {
  padding: 200px;
  height: 90vh;
}
.anim1 {
  width: 12%;
  float: left;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 5s steps(40, end) infinite;
}
.anim2 {
  width: 15%;

  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin-left: 80vw;
  margin-top: -10vh;
  letter-spacing: 0.15em;
  animation: typing2 5s steps(40, end) infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 12%;
  }
}
@keyframes typing2 {
  from {
    width: 0;
  }
  to {
    width: 15%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
.Dis {
  font-size: 40px;
  text-align: center;
  margin-top: 5vh;
}
.clg {
  font-size: 20px;
}
.desc1 {
  float: left;
}
.desc2 {
  float: right;
}
.slidebody {
  width: 80%;
  height: 100%;
}

.Heading {
  font-size: 4ch;
  color: #ea4335;
}
.emptyspace {
  height: 10vh;
}
.design {
  height: 10vh;
  background: white;
}
.learn {
  color: #8a8e97;
}
.Grow {
  color: #8a8e97;
}
.Icon1 {
  width: 15%;
  height: 5vh;
  color: #8a8e97;
  border-style: unset;
}

.Icon2 {
  width: 15%;
  color: #8a8e97;
  border-style: unset;
}
.Icon3 {
  width: 15%;
  color: #8a8e97;
  border-style: unset;
}
.label1 {
  text-align: justify;
  padding: 5px;
}
.label2 {
  text-align: justify;
  padding: 5px;
}
.label3 {
  text-align: justify;
  padding: 5px;
}
@media only screen and (max-width: 900px) {
  .design {
    font-size: 1.4vh;
  }
  .Container {
    padding: 100px;
  }
  .anim1 {
    width: 30%;
    float: left;
    font-size: 10px;
    overflow: hidden;
    border-right: 0.15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15em;
    animation: typing 5s steps(40, end) infinite;
  }

  .anim2 {
    width: 52%;
    font-size: 10px;
    overflow: hidden;
    border-right: 0.15em solid orange;
    white-space: nowrap;
    margin-left: 50vw;
    margin-top: -10vh;
    letter-spacing: 0.15em;
    animation: typing2 5s steps(40, end) infinite;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 30%;
    }
  }
  @keyframes typing2 {
    from {
      width: 0;
    }
    to {
      width: 40%;
    }
  }
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
  }
  .Dis {
    font-size: 40px;
    width: 50vw;
    align-items: center;

    margin-left: -2vw;
    margin-top: 10vh;
  }
  .clg {
    font-size: 20px;
  }
  .slidebody {
    width: 100%;
    height: auto;
  }
  .Icon1:hover {
    color: #8a8e97;
  }
  .Icon1 {
    color: transparent;
  }
  .Icon2:hover {
    color: #8a8e97;
  }
  .Icon2 {
    color: transparent;
  }
  .Icon3:hover {
    color: #8a8e97;
  }
  .Icon3 {
    color: transparent;
  }
}
